@import "tailwindcss";

@theme {
    --font-spartan: "League Spartan Variable", sans-serif;
}

@theme {
    --font-geist-mono: "Geist Mono", monospace;
}

@theme {
    --animate-blink: blink 2s step-end infinite;
    @keyframes blink {
        0%,
        50%,
        100% {
            opacity: 1;
        }
        25%,
        75% {
            opacity: 0;
        }
    }
}
