---
import Layout from "../layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="thallium">
    <div class="bg-stone-950 min-h-screen text-stone-50">
        <header class="flex justify-center mb-10">
            <div>
                <h1
                    class="font-bold font-spartan text-[24rem] tracking-[-0.08em] leading-96"
                >
                    thallium.
                </h1>
                <h2 class="font-geist-mono -mt-20 ml-8">Web Services</h2>
            </div>
        </header>
        <Footer />
    </div>
</Layout>
