---
import Layout from "../layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="thallium">
    <div class="flex justify-center mb-10">
        <div>
            <h1
                class="font-bold font-spartan md:text-[24rem] text-[8rem] tracking-[-0.08em] leading-96"
            >
                thallium.
            </h1>
            <h2 class="font-geist-mono md:-mt-20 -mt-35 md:ml-8 ml-2">
                Web Services
            </h2>
        </div>
    </div>
    <Footer />
</Layout>
