---
import { Image } from "astro:assets";
import ISR_Logo from "../assets/ISR_logo.png";
---

<footer class="border-t border-stone-900">
    <div class="flex justify-center">
        <a href="https://www.inkubatorsr.si/"
            ><Image src={ISR_Logo} alt="ISR Logo" height="100" /></a
        >
    </div>
</footer>
