---
import "./styles/global.css";
import "@fontsource-variable/league-spartan";
import "@fontsource-variable/geist-mono";
import { AstroSeo } from "@astrolib/seo";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <meta name="theme-color" content="#0c0a09" />
        <meta name="generator" content={Astro.generator} />
        <AstroSeo
            title="Thallium"
            description="Thallium Web Services"
            canonical="https://thallium.app/"
            openGraph={{
                images: [
                    {
                        url: "http://localhost:4321/thallium.svg",
                        alt: "Thallium Logo",
                    },
                ],
            }}
        />
        <title>{title}</title>
    </head>
    <body class="bg-zinc-950 text-zinc-50 noise">
        <slot />
    </body>
</html>
